<ul style="border-style: solid; border-width: 1px; background-color: #f3e8cb; padding-bottom: 1em;">
  <h3 style="text-decoration: none;">
    <a href="{{.Link}}" style="color: black;">
      {{.Title}}
    </a>
  </h3>

  {{range .Posts}}
    <li style="margin: 0.5em"> 
      [{{.DateString}}] <a href="{{.Link}}" style="text-decoration: none; color: darkblue"><strong>{{.Title}}</strong></a> - <em style="color: #444444">{{.Author}}</em>
    </li>
  {{else}}
    No updates for now.
  {{end}}
</ul>