<html>
  <head>
    <!-- styles / scripts -->
  </head>
  <body>
    <style>
      body {
        background-color: #f3e8cb;
      }

      hr {
        overflow: visible;
        padding: 0;
        border: none;
        border-top: medium double #333;
        color: #333;
        text-align: center;
      }
    
      hr:after {
        content: "§";
        display: inline-block;
        position: relative;
        top: -0.7em;
        font-size: 1.5em;
        padding: 0 0.25em;
        background: #f3e8cb;
      }
    </style>
    <span style="font-family: Palatino">
      {{range .}}
        {{.}}
      {{end}}
      <!-- footer -->
    </span>
  </body>
</html>